@page "/counter"

<h1>@WMBI.GetTranslation("CounterTitle")</h1>

<p>@WMBI.GetTranslation("CurrentCount") @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@WMBI.GetTranslation("ClickMe")</button>

@code {
    [CascadingParameter(Name = "CascadeWMBI")]
    protected WMBInternationalization WMBI { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
